@import url("../page-fade/page-fade.css");
@import url("../project-display/project-tags.css");

/* fonts */
@font-face {
  font-family: "Sam Handwritten A";
  src: url("../font/SamHandwrittenA-Regular.woff2") format("woff2");
}

/* Variables */
:root,
::backdrop {
  --void-bg: lightgray;
  --main-color-nav-text: #222;
  --main-color-nav-bg: #eee;
  --main-color-nav-button-bg: #ccc;
  --main-color-nav-border: #a3e;
  --main-color-nav-button-border: #b9d;
  --main-color-bg: #ddd;
  --main-color-text: #222;
  --dialog-color-backdrop: hsl(0deg 0% 39% / 70%);
  --main-a-link-color: hsl(220deg 31% 41%);
  --main-a-hover-color: hsl(220deg 49% 38%);
  --main-a-active-color: hsl(220deg 38% 31%);
  --main-a-visited-color: hsl(268deg 23% 42%);
  --high-readability-font: "Lexend Deca", sans-serif;
  --print-readability-font: "Gentium Book Basic", serif;
  --handwritten-font: "Sam Handwritten A", sans-serif;
  --main-font-headers: var(--high-readability-font);
  --main-font-body: var(--high-readability-font);
  --main-font-size: 11pt;
  --top-nav-height: 0;
}

@media screen and (prefers-contrast: more) {
  :root,
  ::backdrop {
    --main-color-bg: white;
    --main-color-text: black;
    --dialog-color-backdrop: hsl(0deg 0% 100% / 90%);
  }
}

@media print {
  :root,
  ::backdrop {
    --void-bg: transparent;
    --main-color-bg: white;
    --main-font-body: var(--print-readability-font);
  }

  #open-about-dialog {
    display: none !important;
  }

  [print-hidden] {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --void-bg: #1a1a1a;
    --main-color-nav-text: #ddd;
    --main-color-nav-bg: #111;
    --main-color-nav-button-bg: #343343;
    --main-color-nav-button-border: #435;
    --main-color-bg: #222;
    --main-color-text: #ddd;
    --dialog-color-backdrop: hsl(0deg 0% 0% / 70%);
  }
}

@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --main-color-bg: black;
    --main-color-text: white;
    --dialog-color-backdrop: hsl(0deg 0% 0% / 90%);
  }
}

/* Animations */
@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(30px);
      opacity: 0;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(6deg);
    }

    75% {
      transform: rotate(-6deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes tinypop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.005);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes bouncing {
    0% { transform: translateY(0);}
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
  }
}

/* Styles */
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  height: fit-content;
  height: -webkit-fill-available;
  font-size: 14pt;
  background-color: var(--main-color-bg);
}

html:focus-within {
  scroll-behavior: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  position: initial;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding-top: var(--top-nav-height);
  overflow: auto auto;
  overflow-wrap: anywhere;
  word-break: auto-phrase;
  hyphens: auto;
  color: var(--main-color-text);
  background-color: var(--main-color-bg);
  width: 100%; /* using [d]vw causes issues not seen with % */
  min-height: 100dvh;
  text-rendering: optimizelegibility;
  font-family: var(--main-font-body);
  font-size: var(--main-font-size);

  &:has(nav-header) {
    --top-nav-height: 36px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-headers);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

small {
  font-size: 0.5em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:any-link {
  color: var(--main-a-link-color);
}

a:any-link:hover {
  color: var(--main-a-hover-color);
}

a:any-link:active {
  color: var(--main-a-active-color);
}

a:visited {
  color: var(--main-a-visited-color);
}

#main {
  max-width: 100%;
}

dialog::backdrop {
  background-color: var(--dialog-color-backdrop);
}

button:not(:disabled) {
    cursor: pointer;
}

together {
  display: inline;
  white-space: nowrap;
}

