@import url("../common.css");
@import url("../page-fade/page-fade.css");
@import url("../animated-dialog/animated-dialog.css");

#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 13;
    line-height: 28px;
    min-height: var(--top-nav-height);
    height: fit-content;
    padding: 2px 6px;
    color: var(--main-color-nav-text);
    background-color: var(--main-color-nav-bg);
    border-bottom: 1px solid var(--main-color-nav-border);

    & > * {
        vertical-align: middle;
    }

    & #nav-title {
        position: absolute;
        left: calc(50% - 64px);
        top: 4px;
    }

    & .nav-btn {
        text-decoration: none;
        font-weight: bold;
        border-radius: 20%;
        padding: 0;
        min-width: 8mm;
        font-size: 4mm;
        text-align: center;
        line-height: 24px;
        display: inline-block;
        margin-top: 4px;

        color: var(--main-color-nav-text);
        background-color: var(--main-color-nav-bg);
        border-color: var(--main-color-nav-border);

        &#return-to-root {
            border-width: 2px;
            border-style: outset;
            width: 12mm;
            &:active {
                border-style: inset;
            }
        }

        &#open-about-dialog {
            float: right;
        }
    }
}

#about-dialog button {
    display: block;
    margin: 16px auto 0;
}
