# EditorConfig: https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = off

[*.{js,ts,css,json,html,md,webmanifest}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
curly_bracket_next_line = true
spaces_around_operators = true

[*.{js,ts}]
quote_type = double

[*.{css}]
quote_type = single

[*.bat]
end_of_line = crlf

[*.tsv]
indent_style = tab

[*.md]
trim_trailing_whitespace = false