
/* Animations */
@media screen and (prefers-reduced-motion : no-preference) {

	@keyframes AnimDialogFadeIn {
        0% { opacity: 0; }
	    100% { opacity: 1; }
	}
	
	@keyframes AnimDialogFadeOut {
        0% { opacity: 1; }
	    100% { opacity: 0; }
	}

	@keyframes AnimDialogSlideIn {
		0% { transform: translateY(-30px); opacity: 0; }
	  100% { transform: translateY(0px); opacity: 1; }
	}

	@keyframes AnimDialogSlideOut {
	  0% { transform: translateY(0px); opacity: 1; }
	  100% { transform: translateY(30px); opacity: 0; }
	}
}

/* Styles */
dialog[is='anim-dialog']::backdrop {
	animation: AnimDialogFadeIn 500ms ease-out 0ms;
}

dialog[is='anim-dialog'][open] {
	animation: AnimDialogSlideIn 500ms ease-out 0ms;
}

dialog[is='anim-dialog'][dismissing]::backdrop {
	animation: AnimDialogFadeOut 500ms linear 0ms;
}

dialog[is='anim-dialog'][open][dismissing] {
	animation: AnimDialogSlideOut 500ms linear 0ms;
}
