
@media screen and (prefers-reduced-motion : no-preference) {

	@keyframes pageFadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
	}
	
	@keyframes pageFadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
	}
}

body[loaded] #main {
	opacity: 1;
	animation: pageFadeIn 500ms ease-in 0ms;
}

body[unloading] #main {
	opacity: 0;
	animation: pageFadeOut 500ms ease-in 0ms;
}