@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes page-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes page-fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  .page-fade {
    opacity: 0;
  }

  body[loaded] .page-fade {
    opacity: 1;
    animation: page-fade-in 500ms ease-in 0ms;
  }

  body[unloading] .page-fade {
    opacity: 0;
    animation: page-fade-out 500ms ease-in 0ms;
  }

  body[loaded][same-page] .page-fade,
  body[unloading][same-page] .page-fade {
    animation-duration: 300ms;
  }
}
