@import url("./project-tags.css");

internal {
  --project-display-color-bg: #ddd;
  --project-display-color-border: rgba(80, 80, 80, 0.9);
  --project-display-color-text: #333;
  --min-size: 256px;

  min-width: var(--min-size);

  display: inline-grid;
  grid-template-columns: max(calc(var(--min-size) / 2.5), 30%) auto;
  justify-items: stretch;

  color: var(--project-display-color-text);
  border: 2px solid var(--project-display-color-border);
  border-radius: 8px;
  margin: 12px 6px;
  width: calc(100% - 28px); /* full, minus 12px*2 margin and 2px*2 border */
  overflow: hidden;
}


@media screen and (prefers-color-scheme: dark) {
  internal {
    --project-display-backside-color-bg: rgb(41, 41, 24);
    --project-display-color-bg: #444;
    --project-display-color-border: rgba(45, 33, 33, 0.9);
    --project-display-color-text: #ccc;
  }
}

internal > .thumbnail {
  align-self: stretch;
  height: 100%;
  grid-column: 1;
  background-color: rgba(0,0,0,0.2);
  display: block;
  overflow: hidden;
  background-position: 60%;
  background-size: contain;
  background-repeat: no-repeat;
}

internal > .info {
  grid-column: 2;
  background-color: var(--project-display-color-bg);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

internal > .info > h1 {
  margin-top: 10px;
  margin-bottom: 4px;
}

internal > .info > p {
  margin-top: 2px;
  margin-bottom: 2px;
}

internal ul.links {
  margin: 4px;
  padding-inline-start: 0;
}

internal ul.links {
  margin-top: 8px;
  margin-bottom: 8px;
}

internal ul.links > li {
  display: inline-block;
  margin-right: 0.5rem;
}

internal ul.links > li > a {
  color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(76, 154, 128);
  background-color: rgb(76, 154, 128, 0.5);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

internal ul.links > li > a:before {
  display: inline;
  content: " ▶ ";
  font-size: 0.5rem;
  vertical-align: text-top;
}

internal ul.links > li > a:hover {
  border-color: rgb(58, 118, 98);
  background-color: rgba(53, 108, 90, 0.5);
}

internal ul.links > li > a:active {
  border-color: rgb(34, 69, 57);
  background-color: rgba(30, 61, 50, 0.5);
}

internal .hidden {
  display: none !important;
}
