internal {
  --project-display-color-bg: #ddd;
  --project-display-color-border: rgba(80, 80, 80, 0.9);
  --project-display-color-text: #333;

  display: inline-grid;
  grid-template-columns: max(128px, 30%) auto;
  justify-items: stretch;

  color: var(--project-display-color-text);
  border: 2px solid var(--project-display-color-border);
  border-radius: 8px;
  margin: 12px 6px;
  width: calc(100% - 28px); /* full, minus 12px*2 margin and 2px*2 border */
  min-width: 540px;
  overflow: hidden;
}


@media screen and (prefers-color-scheme: dark) {
  internal {
    --project-display-backside-color-bg: rgb(41, 41, 24);
    --project-display-color-bg: #444;
    --project-display-color-border: rgba(45, 33, 33, 0.9);
    --project-display-color-text: #ccc;
  }
}

internal > .thumbnail {
  align-self: stretch;
  height: 100%;
  grid-column: 1;
  background-color: rgba(0,0,0,0.2);
  display: block;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

internal > .info {
  grid-column: 2;
  background-color: var(--project-display-color-bg);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

internal ul.tags {
  margin: 4px;
}

internal ul.tags > li {
  display: inline-block;
  margin-right: 0.5rem;
}

internal ul.tags > li > a {
  cursor: pointer;
  user-select: all;
}

internal .hidden {
  display: none !important;
}