
ul.project-tags {
  margin: 4px;
  padding-inline-start: 0;
}

ul.project-tags > li {
  display: inline-block;
  margin-right: 0.5rem;
}

ul.project-tags > li > a,
ul.project-tags > li > a:link {
  cursor: pointer;
  user-select: all;
  color: unset;
  text-decoration: none;
}

ul.project-tags > li > a:before {
  display: inline;
  content: " ▶ ";
  font-size: 0.5rem;
  vertical-align: text-top;
}

@media screen {
  ul.project-tags > li[active] > a:before {
    color: rgb(95, 196, 133);
  }

  ul.project-tags > li:not([active]):hover > a:before {
    color: var(--main-color-text);
  }

  ul.project-tags > li:hover > a {
    color: rgb(154, 109, 178);
  } 
}